*{box-sizing: border-box;}
img{width:100%; display: block ;}

/* comment.js */
.card{
    padding: 1rem;
}
.author{
    text-align: center;
    display: block;
    font-weight: bolder;
    font-size: 1.5rem;
}
.metabata ,.comment{
    text-align: center;
}
.date{
    font-style: italic;
    color: darkblue;
    font-weight: bolder;
}

/* app.js */
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* User_feedback */

.feedbackcard{ 
    width: 300px;
    border: solid 1px gray;
    border-radius: 5px; 
    text-align: center; 
    overflow: hidden;
    padding: 1rem;
}

.cardfooter{
background-color:gray; 
padding: 0.5rem 1rem;
color: aliceblue;
}

.feedbackcontainer{
    margin: 1rem
}

.feedbackcontainer:hover{
    box-shadow: 0px 0px 10px 1px gray;
    transform: scale (1.01);
    overflow: hidden; 
    border-radius: 10px;
}

.content{
font-size:1.5rem;
font-weight: bolder;
padding: 1rem;
}


/* modalwindow */

.modalwindow{
    background-color: rgba(50,50,50,0.5);
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    display: none;
}
.modalcontent{
    background-color: whitesmoke;
    width: 500px;
    margin: 100px auto;

}
.modalheader{
    border-bottom: ridge 1px lightblue;
    display: flex;

}
.modalheader p:nth-child(1){
    font-size: 1.2rem;
    text-align: center;
    width: 80%;

}
.closemodal{
    margin-left: auto;
    width: 20%;
    color: lightgreen;

}
.commentarea{
    width: 80%;
    margin: 10%;
    padding: 0.5rem 1rem;
}
.btnpost_feedback{
    width: 80%;
    background-color: lightgreen;
    margin:10%;
    padding: 1rem;
    border:none;
    border-radius: 5px;

}
.btnpost_feedback:hover{
    background-color: crimson;

}
 .closemodal:hover{
    color: crimson;
 }