* {
  box-sizing: border-box;
}



img {
  width: 100%;
  display: block;
}

.title {
  text-align: center;
  color: blueviolet;
}

.navlist {
  background-color:  rgb(101, 101, 250);
  width: 900px;
  margin: auto;
  display: flex;
  padding: 2rem;
  font-size: 2rem;
  justify-content: center;
  gap: 70px;
  text-decoration: none;
}
.navlist a:hover{
  color:rgb(32, 194, 194) ;
  text-decoration: underline;
}

.navbar{
  background-color: rgb(101, 101, 250);
  box-shadow: 0px 0px 30px 0px gray;
  border-radius: 30px;
}
.navtitle{
  font-family:"Poppins", sans-serif;
  color: whitesmoke;
  text-decoration: none;
}

.Headertitle {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
}

.homeparagraph{
  text-align: center;
  font-size: 2rem;
  margin: 2% 10% 2% 10%;
  text-align: left;
}

.img{
  width: 600px;
  border-radius: 20px;
  justify-content: right;
  box-shadow: 5px 5px 15px gray;
  margin-left:auto;
  margin-right:auto;
  display: flex;
}

.paragraph{
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 30px;
  text-align: center;
  color: black;
  font-family:"Roboto", sans-serif;

}
.container{
  background-color: white;
}

